
body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: #f0f4f8; 
padding: 40px;
}

.reizen-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.reis-card {
    background: white;
    border-radius: 15px;
    overflow: hidden; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
}

.reis-card:hover {
    transform: translateY(-5px);
}

.reis-card img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.reis-card h3, .reis-card p {
    padding: 0 20px;
}

.reis-card p {
    color: #777;
    margin-bottom: 20px;
}

.difficulty-badge {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin:10px 10px 10px 10px;
}